@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Menu</h1>
    <div class="text-center">
        <p class="text-center"><a asp-controller="Home" asp-action="Index">Home</a></p>
        <p class="text-center"><a asp-controller="Items" asp-action="Index">Items</a></p>
        <p class="text-center"><a asp-controller="Items" asp-action="Create">Create Item</a></p>
        <p class="text-center"><a asp-controller="Reviews" asp-action="Index">Reviews</a></p>
        <p class="text-center"><a asp-controller="Tags" asp-action="Index">Tags</a></p>
    </div>
</div>
