@model IEnumerable<Item>
@{
    decimal sum = 0;
    ViewData["Title"] = "Корзина";
}

<h2>Корзина</h2>
<table class="table-borderless">

    <tbody>
        @foreach (var item in Model)
        {
            sum += item.SalePrice();
            <tr>
                <td>
                    <div class="container  text-white">

                        <div class="row">
                            <partial name="OneItemShopCart" model="item" />
                        </div>

                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>



<h4 class="text-center">
    Сумма : @sum.ToString("c")<br>
    <a class=" btn btn-outline-danger" asp-controller="Items" asp-action="Summary">Оплатить</a>
</h4>
